extends layout

block content
	p welcome
	div
		iframe(
			src="https://calendar.google.com/calendar/	embed?src=754vsbreda03pti2tnlkln8t20%40group.calendar.google.com&ctz=America/New_York",
			style="border: 0",
			width="800",
			height="600",
			frameborder="0",
			scrolling="no"
		)

	div
		a(class="btn btn-default", href='/calendar/sync', role="button") sync